<tr id="order-<%= order.id %>">
  <td><%= order.id %></td>
  <td><%= order.user_name %></td>
  <td>$<%= order.total_price %></td>
  <td><%= t("order.status.#{order.status}") %></td>
  <td><%= format_date(order.ordered_at) %></td>
  <td><%= link_to 'Details', admin_order_path(order), class: 'btn btn-primary' %></td>
</tr>
