<tr id="order-<%= order.id %>">
  <td><%= order.id %></td>
  <td><%= render partial: 'orders/order_item', collection: order.order_items, as: :order_item %></td>
  <td>$<%= order.total_price %></td>
  <td><%= t("order.status.#{order.status}") %></td>
  <td><%= format_date(order.ordered_at) %></td>
</tr>
