<div class="login-panel panel panel-info">
  <div class="panel-heading">
    <div class="panel-title">Login</div>
    <div class="panel-link"><%= render 'devise/shared/links' %></div>
  </div>
  <div class="panel-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),
      html: { class:'form-horizontal', role: 'form' }) do |f| %>
      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'email' %>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'password' %>
      </div>

      <div class="form-group">
        <div class="col-sm-12 controls">
          <%= f.submit 'Login', class: 'btn btn-success' %>
          <%= link_to "Login with Facebook", "#", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
