<div class="row col-md-12 item-page">
  <h2 class="text-danger"><%= @item.item_name %></h2>
  <div class="col-md-3 col-xs-12">
    <%= image_tag(@item.item_image.url(:large), height: "86", width: "110", alt: "#{@item.item_name}") %>
  </div>
  <div class="col-md-9 col-xs-12">
    <p>
      <span class="display-block">
        <label>Item ID:</label><%= @item.id %>
      </span>
      <span class="display-block">
        <label>Price:</label><%= @item.price %>
      </span>
      <span class="display-block">
        <label>Date Added:</label><%= @item.created_at.strftime("%m/%d/%Y") %>
      </span>
    </p>
  </div>
  <div class="clearfix"></div>
  <hr/>
  <div class="col-md-12 col-xs-12 item-description">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel viverra orci, eget auctor urna. In lobortis lectus at cursus dignissim. Vestibulum eget justo nisi. Ut accumsan luctus neque, sit amet consectetur est malesuada eget. Sed viverra euismod ipsum, a imperdiet arcu mollis a. Etiam dictum est at eros luctus tempor. Sed dignissim lorem risus, sit amet congue urna tincidunt sed. Nullam tellus sem, posuere pulvinar auctor quis, feugiat non ex. Curabitur non risus justo. Aliquam bibendum molestie consectetur. Curabitur dapibus orci sit amet sollicitudin posuere.
    </p>
  </div>
</div>
