<div class="item-panel">
  <h2 class="text-danger"><%= title @item.item_name %></h2>
  <div class="col-md-3 col-xs-12">
    <%= image_tag(@item.item_image.url(:large), height: '86', width: '110', alt: @item.item_name) %>
    <span class='display-block mg-t-5 mg-b-5'>
      <%= share_on_facebook %>
    </span>
    <span class='display-block mg-t-5'><%= share_on_twitter %></span>
  </div>
  <div class="col-md-9 col-xs-12">
    <p>
      <span class="display-block">
        <label class="mg-r-5">Item ID:</label><%= @item.id %>
      </span>
      <span class="display-block">
        <label class="mg-r-5">Price:</label><%= @item.price %>
      </span>
      <span class="display-block">
        <label class="mg-r-5">Date Added:</label>
        <%= format_date(@item.created_at) %>
      </span>
      <span class="display-block">
        <% if policy(@item).update? %>
          <label class="mg-r-5">Manage Item:</label>
          <%= link_to 'Edit', edit_item_path(@item), class: "btn btn-danger mg-l-5" %>
        <% end %>
      </span>
      <% if user_signed_in? %>
        <%= render partial: 'items/order_form', locals: { order_item: @order_item } %>
      <% end %>
    </p>
  </div>
  <div class="clearfix"></div>
  <hr/>
  <div class="col-md-12 col-xs-12 item-description">
    <% if @item.description? %>
      <p><%= raw @item.description.gsub(/\n/, '<br>') %></p>
    <% else %>
      <p>This Item don't have description.</p>
    <% end %>
  </div>
</div>
<% set_meta_tags title: "#{@item.item_name}", reverse: true %>
<% set_meta_tags description: "#{@item.description}", reverse: true %>
