<html>
  <%= render 'layouts/head_tag' %>
  <body>
    <%= render 'layouts/page_header' %>
    <div class="container">
      <%= render partial: 'layouts/messages', collection: flash, as: :f %>
      <div class="row" id="breadcrumbs">
        <%= render_breadcrumbs %>
      </div>
      <div class="row">
        <div class="col-md-3 hidden-xs" id="sidebar"><%= CategoriesCell.() %></div>
        <div class="col-md-9 col-sm-12 col-xs-12"><%= yield %></div>
      </div>
    </div>
    <%= render 'layouts/page_footer' %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=<%= ENV['FACEBOOK_APP_ID'] %>";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
