<!DOCTYPE html>
<html>
  <%= render 'layouts/head_tag' %>

  <body>
    <%= render 'layouts/page_header' %>
    <div class="container">
      <%= render partial: 'layouts/messages', collection: flash, as: :f %>
      <div class="row">
        <div class="<%= controller.controller_name.in?(['checkout', 'cart', 'orders', 'items']) ?
          'col-md-offset-2 col-md-8' : 'col-md-offset-3 col-md-6'%> col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/page_footer' %>
  </body>
</html>
<% set_meta_tags nofollow: true %>
